body {
  color: white;
  margin: 0;
  padding: 0;
  /* height: 2160px; */
  height: 100%;
  background-image: url("../images/lorenzo-fatto-offidani-oYSUTt7Cj60-unsplash.jpg");

  /* .. means to look in parent directory, only '/' before images folder will also work in vs code but will create problems in github or other editors that's why either writing full path or correct relative path is good practice. */

  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Baloo Bhai 2", cursive;
}

.left {
  position: absolute;
  left: 60px;
  top: 21px;
  display: inline-block;

  /* border: 2px solid green; */
  /* margin: 20px 10px;  Don't do this foolishness of using margin and top left right of position at the same time. Use either one only Or you will end up getting highly confused. */
}

.left div {
  position: relative;
  right: 25px;
  line-height: 19px;
  font-size: 26px;

  /* why we used position relative and then right instead of just using margin-x value? it is because margin or padding will set it from and to div border only which won't get us our desired result. */

  /* We made it relative only and not absolute because we wouldn't be able to achieve Mansuri fitness before image left because the ancestor is also absolute and absolute div will inherit from its first ancestor (which will restrict us)  */
}

/* Note that position: relative means the element is positioned relative to its natural position and position: absolute means the element is positioned relative to its first position:relative or position:absolute ancestor. */

.mid {
  display: block;
  /* border: 2px solid red; */
  /* position: absolute; */
  width: 36%;
  margin: 42px auto;
}

.navbar li {
  display: inline-block;
  list-style: none;
  font-size: 25px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 34px 23px;
}

.navbar li .active,
.navbar li a:hover {
  color: rgb(136, 117, 117);
  text-decoration: underline;
}

.right {
  position: absolute;
  right: 34px;
  top: 43px;
  display: inline-block;
  /* border: 2px solid yellow; */
}

.btn {
  background-color: transparent;
  /* border: 2px solid grey; */
  border-radius: 10px;
  color: whitesmoke;
  margin: 0px 9px;
  padding: 4px 14px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Baloo Bhai 2", cursive;
  /* opacity: 0.2; */
  /* font-weight: bold; */
}

.btn:hover {
  color: rgb(136, 117, 117);
}

.container {
  /* border: 2px solid white; */
  margin: 220px 56px;
  width: 33%;
  text-align: center;
}

.container input {
  width: 314px;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  border-color: grey;
}

.container .btn {
  margin: 20px auto;
}
